extends layout

block content
  .w3-container
    h1= title
    .w3-card-4.w3-margin-bottom
      .w3-container.w3-light-grey
        p
          strong Tipo de Procedimento: 
          | #{contrato.tipoprocedimento}
        p
          strong Objeto do Contrato: 
          | #{contrato.objectoContrato}
        p
          strong Data de Publicação: 
          | #{contrato.dataPublicacao}
        p
          strong Data de Celebração do Contrato: 
          | #{contrato.dataCelebracaoContrato}
        p
          strong Preço Contratual: 
          | #{contrato.precoContratual}
        p
          strong Prazo de Execução: 
          | #{contrato.prazoExecucao} dias
        p
          strong Fundamentação Legal: 
          | #{contrato.fundamentacao}
    a.w3-button.w3-margin-top(href='/') Voltar
